.root{
    display: flex;
    flex-direction: column;
  }
.gridContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.container{
    width: max-content;
    height: max-content;
}
.ui.positive.button.margin,.ui.blue.button.margin,.ui.negative.button.margin,.ui.black.button.margin{
    margin-top: 20px;
}
.padding{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.paper{
    padding: 0px 20px;
    /* border: 2px solid black; */
}

.singlevideo{
    width: 30vw;
}
.video{
    width: 90%;
    border-radius: 5px;
    box-shadow: inset 20px 0px 2px rgba(134, 134, 134, 0.05);
    /* max-width: 384px; */
    /* max-height: auto;    */
}
.name{
    width: 90%;
    text-align: center;
    /* border:1px solid black; */
    padding-top: -10px;
}
.incall-cntr{
    width: 100%;
    height: max-content;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.incall{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid aliceblue; */
    border-radius: 5px;
    margin-bottom: 20%;
    background-color:grey;
}
.incall-name{
    padding-top: 6px;
    float: bottom;
}
.buts{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    /* border: 1px solid white; */
}

.videocontainer{
    display: flex;
    flex-direction: row;
}

.togglebuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    /* border: 1px solid black; */
    margin-bottom: 10px;
}
